body
{
    margin: 0;
    background-color: ghostwhite;
}
.head
{
    display: flex;
    background-color:#c00000;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1.5px solid;
}
.head h1
{
    font-family: Matura MT Script Capitals;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
}
.tagline
{
    background-color: ghostwhite;
    display:flex;
    align-content: center;
    justify-content: space-around;
    padding: 8px; 
}
.tagline a
{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: dodgerblue;
}
.tagline a:hover
{
    width: 100%;
    background-color:#ccc;
    color: black;
}

.head1 input[type="text"]
{
    margin:5px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 2px;
}
.head1 button
{
    margin: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 2px;
}
.abtus
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    border: 5px solid aliceblue;
    background-color: #f5f5f5;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}
.abtus h4
{
    font-family: sans-serif;
}