body
{
    margin: 5px;
    background-color: whitesmoke;
}
.chatbox
{ 
border: 1.5px solid #dedede;
background-color: #f1f1f1;
border-radius: 3px;
padding: 10px;
margin: 10px 0;
width: 50%;
}
.second
{
border-color: #ccc;
background-color: #ddd;
}    
.chatbox img
{
float: left;
max-width: 60px;
width: 100%;
margin-right: 20px;
border-radius: 50%;
}      
.time-right{
float: right;
color: #aaa;
}
.time-left{
float: left;
color: #999;
}
.chat-container{
display: flex;
justify-content: center;
align-content: flex-start;
flex-flow: column wrap;    
}     
.form-container input {
width: 50%;
padding: 15px;
text-align: center;
border: none;
background: #f1f1f1;
min-height: 50px;
}
.container
{
    background-color: dodgerblue;
border: 2px solid;
width:48.7%;
padding: 20px;
}
.tagline
{
background-color: ghostwhite;
display:flex;
align-content: center;
justify-content: space-around;
padding: 9px; 
width: 50.4%;
}
.tagline a
{
padding: 10px;
font-size: 20px;
color: dodgerblue;
}
.tagline a:hover
{
width: 100%;
background-color:#ccc;
color: black;
}
