body
{
        font-family: sans-serif;
}
.containerprofile
{
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 10px;
}
.containerintro
{
    background-color: gainsboro;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    max-height: 650px;
}
.intro
{
    font-weight: bolder;
    text-align: center;
}
.introstart
{
    font-weight: lighter;
}
.introstart a
{
    color: dodgerblue;
}
.featuredphotos
{
    border:1px solid;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
    padding: 10px;
}
.friends
{
    display: flex;
    flex-flow: column wrap;
    border:1px solid;
    width: 90%;
    margin: 10px;
    padding: 10px;
}
.friendlist
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.friendname
{
    position: relative;
    width: 50%;
    max-width: 100px;
}
.frimg
{
    margin: 5px;
    display: block;
    width: 100%;
    height: auto;
}
.over
{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
 width: 90px;
}
.newpost
{
    display: flex;
    margin: 10px;
    padding:10px;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.newpost input[type="button"]
{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
}
.addpic
{
    padding: 10px;
    margin: 10px;
    border:1px solid white;
    width: 80%;
}
.usertimeline
{
    display: flex;
    flex-flow: column wrap;
    background-color: gainsboro;
    margin: 10px;
    padding: 10px;
    width: 60%;
}

.posthead
{
    text-align: left;
    font-family: monospace;
    font-size: 25px;
}

.mypost
    {
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: white;
        width: 70%;
    }
    .prof
    {
        font-size: 20px;
        margin: 10px;
        border-bottom: 1px solid;
    }
    .post
    {
         background-color: white;
        margin: 10px;
        text-align: center;
        font-size: 25px;
    }
    .reaction
    {    
        margin: 10px;
        font-size: px;
    }